.name {
      background: linear-gradient(45deg, #ff0000, #1a53ff, #ea01ff, #fcfc00);
      background-clip: text;
      color: transparent;
      background-size: 400% 400%;
      animation: gradient 3s ease infinite;
}

@keyframes gradient {
      0% {
            background-position: 0%;
      }
      50% {
            background-position: 100%;
      }
      100% {
            background-position: 0%;
      }
}